<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="INPUT_IMAGE_RAW" default="/tello/image_raw"/>
  <!-- <arg name="INPUT_INFO" default="tello/camera/camera_info" /> -->
  <!-- <arg name="INPUT_CLASS" default="/edgetpu_panorama_object_detector/output/class"/> -->
  <!-- <arg name="INPUT_RECTS" default="/edgetpu_panorama_object_detector/output/rects"/> -->
  <arg name="coral" default="true"/>
  <arg name="detector" default="$(find coral_usb)/launch/edgetpu_object_detector.launch" />

  <node pkg="tello_demos"
        type="merge.py"
        name="merge_class_and_rect">
  </node>

  <node pkg="tello_demos"
        type="move_to_human.py"
        name="move_to_human">
  </node>
  

  <!-- <include if="$(arg coral)" file="$(find coral_usb)/launch/edgetpu_node_manager.launch"> -->
  <!--   <arg name="INPUT_IMAGE" value="/coral_input/image" /> -->
  <!--   <arg name="YAML_PATH" value="$(find tello_demos)/config/coral.yaml" /> -->
  <!-- </include> -->

  <include if="$(arg coral)" file="$(arg detector)" >
    <arg name="INPUT_IMAGE" value="$(arg INPUT_IMAGE_RAW)" />
  </include>
  
</launch>
