<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="INPUT_IMAGE" default="/tello/image_raw/h264"/>
  <arg name="INPUT_INFO" default="tello/camera/camera_info" />
  <arg name="INPUT_CLASS" default="/edgetpu_panorama_object_detector/output/class"/>
  <arg name="INPUT_RECTS" default="/edgetpu_panorama_object_detector/output/rects"/>
  <arg name="coral" default="true"/>

  
  <node pkg="jsk_perception"
        type="rect_array_in_panorama_to_bounding_box_array.py"
        name="rect_array_in_panorama_to_bounding_box_array">
    <remap from="~image" to="$(arg INPUT_IMAGE)" />
    <remap from="~info" to="$(arg INPUT_INFO)" />
    <remap from="~input_class" to="$(arg INPUT_CLASS)" />
    <remap from="~input_rects" to="$(arg INPUT_RECTS)" />
    <rosparam>
        frame_fixed: "rear_rail"
        image_transport: compressed
        dimensions_labels:
            person: [0.5, 0.5, 1.5]
    </rosparam>
  </node>

  <include if="$(arg coral)" file="$(find coral_usb)/launch/edgetpu_node_manager.launch">
    <arg name="INPUT_IMAGE" value="/coral_input/image" />
    <arg name="YAML_PATH" value="$(find tello_demos)/config/coral.yaml" />
  </include>
  
</launch>
